.admin-button-group {
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
}

.admin-button {
    background-color: grey;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 14px;
    width: 160px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #cccccc;
  color: #888888;
}