.admin-background {
  position: relative;
  background-image: url('/gebouwen_heidelberglaan-15.jpg');
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.admin-background::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    white 7%,
    rgba(255,255,255,0.7) 100px,
    rgba(255,255,255,0) 130px);
}

.admin-background > * {
  position: relative;
  z-index: 2;
}

.admin-card-wrapper {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}