.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 3rem;
}

.grid-container a {
  color: rgb(0, 0, 0);
}

.card {
  border: 1px solid #000000;
  border-radius: var(--border-radius-lg, 8px);
  padding: 12px;
  transition: border 0.3s, box-shadow 0.3s;
}

.card:hover {
  border-color: #000dff;
  box-shadow: 0 0 0 4px #00a2ff33, 0 2px 8px #000dff22;
}

.separator-line {
  border-top: 2px solid #000000;
  margin: 5px 0 5px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  opacity: 0;
  animation: fadeIn 0.4s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}