.home-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/gebouwen_padualaan-99.jpg');
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -2;
}

.home-content-wrapper::before {
    content: "";
    position: absolute;
    top: 80px; left: 0; right: 0; bottom: 0;
    background: linear-gradient(
      to bottom,
      white 7%,
      rgba(255,255,255,0.7) 100px,
      rgba(255,255,255,0) 130px);
    z-index: -1;

}

.home-card-wrapper {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}