#navbar {
    height: 80px;
    background-color: var(--color-white, white);
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-size: 20px;
  height: 100%;
}

#navbar li {
    align-content: center;
    position: relative;
}

#navbar li a:hover {
  color: var(--color-blue-shimmer-dark, #000dff);
}

#navbar li a {
    display: block;
    color: var(--color-black, black);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    align-content: center;
  }
  
#navbar li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(90deg, var(--color-blue-shimmer-light, #00a2ff), var(--color-blue-shimmer-dark, #000dff));
    border-radius: 0;
    transition: all 0.5s ease-in-out;
  }
  
#navbar li:hover::before {
    width: 100%;
  }