@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


.skeleton {
  background: linear-gradient(
    90deg,
    #0059ff 25%,
    #004cff 50%,
    #0400ff 75%
  );
  background-size: 400% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

.skeleton-card {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 200px;
}

.skeleton-title {
  width: 70%;
  height: 20px;
}

.skeleton-text {
  width: 100%;
  height: 14px;
}