#user-card {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid var(--color-blue-shimmer-dark, #000dff);
    border-radius: var(--border-radius-lg, 8px);
}

#user-container {
    padding: 1rem 3rem;
}