name: Deploy on Self-hosted Runner

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build backend
        run: ./gradlew build

      - name: Build frontend
        working-directory: frontend/canvas_dashboard
        run: |
          npm install
          npm run build

      - name: Build and start containers
        run: |
          docker-compose down
          docker-compose up --build -d